/* import font */
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

:root {
	--black: #000000;
	--white: #ffffff;
	--yellow: #FCDC94;
	--rose: #E8C5E5;
	--mint: #95D2B3;
	--powder: #BBE9FF;
	--purple: #B1AFFF;
	--coral: #ff789a;
	--crimson: #D37676;
	--orange: #ffc096;
	--lilac: #DFCCFB;
	--jade: #98d8c8;
	--blue: #80BCBD;
	--lemon: #F4CE14;
	--marine: #37B7C3;
	--vanilla: #BE7B72;
	--sand: #ECCA9C;
  }

html, body
{
	margin: 0;
}

body{
	font-family: 'Newsreader', serif;
    background-color: var(--white);
    background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
}

.header
{
	text-align: center;
	background-color: var(--black);
    background-image: url("https://www.transparenttextures.com/patterns/handmade-paper.png");
	padding: 1rem;
	color: var(--white);
}

a {
	color: var(--lemon);
}

.display {
	background-color: var(--jade);
}

.header img {
	min-width: 300px;
	width: 25%;
	border-radius: 20px;
}

.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 2rem;
}

.btns-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	padding: 1rem;
}

.facsimile {
	width: 80%;
}

/**/
.containerSection {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Spazio tra gli articoli */
}

.art {
    background-color: #f8f8f8; /* Colore di sfondo per visibilità */
    padding: 10px;
}

.art h3 {
    text-align: center;
    margin: 0;
    padding: 10px;
    background-color: #e8e8e8; /* Colore di sfondo per visibilità */
}

.page {
    display: flex;
	flex-direction: column;
    width: 100%;
    gap: 10px;
    box-sizing: border-box;
	align-items: center;
	justify-content: center;
}

.facsimile {
    flex: 1;
    background-color: #f0f0f0; /* Colore di sfondo per visibilità */
    padding: 10px;
	text-align: center;
}

.columns {
    flex: 2;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Due colonne */
	grid-template-areas: 
	'left right';
    gap: 10px;
    box-sizing: border-box;
}

.column {
    padding: 10px;
    background-color: #d0d0d0; /* Colore di sfondo per visibilità */
}

.left {
    background-color: #e0e0e0; /* Colore di sfondo per visibilità */
	grid-area: 'left';
}

.right {
    background-color: #c0c0c0; /* Colore di sfondo per visibilità */
	grid-area: 'right';
}

/**/
.paragraph {
    display: flex;
	flex-direction: row;
    gap: 5px; /* Spazio tra il simbolo "P" e il testo del paragrafo */
    margin-bottom: 10px; /* Margine inferiore per separare i paragrafi */
}

.paragraph span {
    min-width: 20px; /* Larghezza minima per il simbolo "P" */
}

.paragraph strong {
    font-weight: bold; /* Stile grassetto per il simbolo "P" */
}


/**/
.menu {
	background-color: transparent;
	border-radius: 20px;
  	box-sizing: border-box;
	padding: 1rem;
	position: sticky;
	top: 0;
	margin: 10px;
	color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.btns-highlight, .btns-show {
	margin: 5px 3rem;
	padding: 0 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	border-radius: 20px;
	box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
}

.btns-highlight {
	background-color: var(--black);
	background-image: url("https://www.transparenttextures.com/patterns/handmade-paper.png");
}

.btns-show {
	background-color: rgb(1, 1, 50);
	background-image: url("https://www.transparenttextures.com/patterns/handmade-paper.png");
}

button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 20px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: 'Newsreader', 'Serif';
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin: 6px 4px;
}

button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

button:active {
  background-color: white;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
}

button:focus {
  outline: 1px transparent;
}

button:-webkit-details-marker {
  display: none;
}

button.active {
	background-color: white;
}

.container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 1rem;
}

.container > .bgTabella {
	padding: 3%;
	margin: 2% 5%;
	border-radius: 20px;
	background-color: var(--black);
	background-image: url("https://www.transparenttextures.com/patterns/handmade-paper.png");
  	box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  	box-sizing: border-box;
}

.container > .bgTabella > .containerTabella
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	flex: 1;
	text-align: left;
	font-size: 1.3rem;
	background-color: var(--white);
	border-radius: 20px;
	padding: 3%;
}

.containerTabella table{
	border-collapse: collapse;
	display: flex;
	align-items: flex-start;
}

.containerTabella > table > tbody > tr
{
	border-bottom: 1px solid black;
}

.containerTabella td{
	padding:10px;
	vertical-align: baseline;
}

footer {
    text-align: center;
	background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/handmade-paper.png");
	padding: 1rem;
	color: white;
}